<div class="border border-stone-700 rounded-md shadow-lg shadow-black/50 brightness-90 hover:brightness-100 hover:scale-105 duration-300">
	<a class="block" href="/store/{{.Location.Do}}/{{.Location.Si}}/{{.Location.Dong}}/{{.Type}}/{{.Title}}">
		<img class="rounded-t-md block object-cover object-center w-full h-full" src="/static/img/store/{{.Location.Do}}/{{.Location.Si}}/{{.Location.Dong}}/{{.Type}}/{{.Title}}/thumbnail.png" alt="{{.Location.Do}} {{.Location.Si}} {{.Location.Dong}} {{.Type}} {{.Title}} 썸네일">
		<div class="p-3 text-sm">
			<h3 class="text-stone-100 font-semibold">강남 {{.Title}} {{.Type}}</h3>
			// TODO:
		</div>
	</a>
</div>
