<!DOCTYPE html>
<html lang="ko">
<head>
	{{template "components/head/browser"}}
	{{template "components/head/seo" .}}
	{{template "components/head/styles"}}
</head>
<body class="antialiased bg-stone-900 text-gray-300">
	<header class="container mx-auto p-6">
		<div class="w-fit mx-auto flex space-x-1">
			<img class="block w-8" src="/static/img/site/logo/96.png" alt="{{.Site.Config.Title}} 로고">
			<div class="flex items-center">
				<span class="text-stone-200 font-semibold text-lg">{{.Site.Config.Title}}</span>
			</div>
		</div>
	</header>
	<main class="container mx-auto">{{embed}}</main>
	{{template "components/footer/global" .}}
</body>
</html>
